@import 'assets/scss/utilities/variables.module.scss';
@import 'assets/scss/utilities/mixins.module.scss';

.header {
    background-color: $yellow;
    padding: 10px 0;
}

.content {
    @include grid;
}

.wrapper {
    align-items: center;
    display: flex;
    grid-column: 2 / 12;
}

.skipContent{
    height: 0;
    overflow: hidden;
    width: 0;
    
    .skipContentText{
        display: none;
    }
}

.logo {
    align-self: center;
    display: grid;
    margin-right: 20px;

    img {
        height: 40px;
    }
}